@import '@/styles/main.scss';

.menu {
  @extend %flex-center;
  flex-direction: column;
  gap: 2rem;

  height: calc(100% - 48px);
  width: 0;
  opacity: 0;

  position: absolute;
  left: 0;
  bottom: 0;

  font-size: 2rem;
  color: $__main;

  transition: all 500ms ease;
}

.menu[aria-hidden='false'] {
  width: 60vw;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu__item {
  position: relative;
  cursor: pointer;
}

.menu__item::after {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 110%;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-out;
}

.menu__item:hover::after {
  transform: translateX(-50%) scaleX(1);
}

@include mq('custom700') {
  .menu {
    position: relative;
    opacity: 1;

    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2rem;
    font-size: 1.25rem;
    width: 100%;
  }
}
