@import '@styles/base.scss';

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.images {
  position: relative;
  flex: 1;
  &__mountains {
    max-height: 45vh;
    object-fit: cover;
  }

  &__shoes {
    width: 300px;

    position: absolute;
    inset: 0;
    margin: auto;
    bottom: calc(-100% + 125px);

    -webkit-filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.9));
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;

  gap: 2rem;
  padding: 0 2rem;
  text-align: justify;
  max-width: 600px;

  &__title {
    text-align: center;
    font-weight: $__bold;
    font-size: 2rem;
  }

  &__presentation {
    font-weight: $__bold;
  }
}

.btn {
  margin: 0 auto 2rem auto;
}
