@import '@styles/base.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100px;

  color: $__sub;
  font-weight: $__bold;
  border: 1px solid $__main;
  border-radius: 11px;

  .btn,
  .qty {
    padding: 0.2rem 0;
    display: flex;
    justify-content: center;
    flex: 1;
  }
}

.btn {
  opacity: 0.7;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(146, 145, 145);
  }

  &-decrease,
  &-delete {
    border-radius: 10px 0 0 10px;
    background-color: $__error;
  }
  &-increase {
    background-color: $__tertiary;
    border-radius: 0 10px 10px 0;
  }
}

.btn-delete {
  display: flex;
  justify-content: center;
  &-img {
    width: calc(1rem + 2px);
  }
}

.qty {
  color: $__main;
  background-color: $__grey200;
}
