@import '@styles/base.scss';

.header {
  height: 48px;
  padding: 0 1rem;

  @extend %display-flex;
  @extend %align-items-center;
  @extend %justify-content-between;
}

.logo {
  min-width: 140px;
  max-width: 180px;
}

.buttons,
.icons {
  @extend %display-flex;
  gap: 0.5rem;
}

.icons__item {
  position: relative;
}

.cart__icon_qty {
  font-size: 0.8rem;
  font-weight: $__bold;
  position: absolute;
  bottom: -5px;
  color: $__sub;
  background-color: $__main;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;

  @extend %flex-center;
}

@include mq('custom700') {
  .navbar {
    order: 2;
    width: 100%;
  }

  .logo {
    order: 1;
  }

  .buttons {
    order: 3;
  }
}
