@import '@styles/base.scss';

.card {
  width: 40%;
  max-width: 250px;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
  }

  &__leftover,
  &__soldout {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: $__error;
    font-weight: $__bold;
    bottom: 10%;
    left: 50%;
  }

  &__soldout {
    background-color: rgba(215, 215, 215, 0.8);
    padding: 0.2rem 0.5rem;
  }

  &__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;

    &_title {
      font-weight: $__bold;
    }

    &_bottom {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__tag {
    font-size: 0.8rem;
    color: #fff;
    padding: 0.15rem 0.25rem;
    border-radius: 5px;

    &.hiking {
      background-color: navy;
    }
    &.running {
      background-color: red;
    }
    &.trail {
      background-color: green;
    }
  }
}
